/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #e2e8f0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Main card */
.contact-card {
    max-width: 700px;
    margin: 80px auto;
    padding: 30px;
    
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    
    box-shadow: 0 0 40px rgba(0,0,0,0.4);
}

/* Profile */
.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #3b82f6;
    object-fit: cover;
    transition: transform 0.3s;
}

.profile img:hover {
    transform: scale(1.05);
}

/* Name section */
.name-section {
    text-align: center;
    margin-bottom: 25px;
}

.name-section h1 {
    font-size: 28px;
    background: linear-gradient(90deg, #00F5D4, #38bdf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name-section p {
    color: #94a3b8;
    margin-top: 5px;
}

/* Tagline */

.tagline {
    color: #00f5d4;
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 1px;
}
/* Boxes */
.box {
    background: #0f172a;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0,245,212,0.2);
}

/* Headings */
.box h3 {
    color: #3b82f6;
    margin-bottom: 10px;
}

/* Contact */
.contact p {
    margin: 5px 0;
}

/* Links */
a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Skills */
ul {
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}

/* Responsive */
@media (max-width: 600px) {
    .contact-card {
        margin: 30px 15px;
        padding: 20px;
    }
}

/*Button*/
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00f5d4;
    color: #000;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}
